

.topnav {
  width: 120%;
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-left:-151px;

}

.topnav-left h2 {
  margin-left:20px;
}

.topnav-right {
 
  margin-right: 450px;
  position: absolute;
  right: 60px; /* Adjust this value to control the space from the right edge */
  display: flex;
  align-items: center; /* Adjust this to control right side spacing */
}

.topnav-right a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px; /* Space between profile and logout */
  transition: background-color 0.3s;
}

.topnav-right a:hover {
  background-color: #34495e;
  border-radius: 4px;
}


/*.topnav-right a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-right:500px;
}

.topnav-right a:hover {
  background-color: #34495e;
  border-radius: 4px;
 
}*/


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 50px; 
  left: 0;
  background-color: #2c3e50;
  padding-top: 20px;
  transition: 0.3s;
  color: #ecf0f1;
  
  
}

.sidenav-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ecf0f1;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  padding: 15px 20px;
  text-align: left;
}

.sidenav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.sidenav ul li a:hover {
  background-color: #34495e;
  border-radius: 4px;
}

.sidenav ul li a .icon {
  margin-right: 10px;
}

.sidenav ul li a.active {
  background-color: #1abc9c;
  border-radius: 4px;
}

.main-content {
  margin-left: 260px; 
  margin-top: 70px; 
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav ul li {
    font-size: 15px;
  }
}


